
h1{
    color:red;
}


#home-intro{
    text-align: center;
   /* border-width: 3px;
border-style: solid;
border-color: blue; */

    border:3px solid yellowgreen;
}
    #home-intro:hover{
        background-color:burlywood;
    }



    #p2{
    color:blue;
}

 #nav{
    text-align: center;
    background-color: brown;
    height: 50px;
    padding-top: 5px;
    margin-bottom: 5px;
 }

